@font-face {
  font-family: "Simplifica";
  src: url("../fonts/SIMPLIFICA Typeface.ttf");
}

.navbar {
  overflow: hidden;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 2em;
  }
  .navbar a {
    width: 100%;
  }
}

.navbar a {
  font-family: "Simplifica";
  font-size: 1.8rem;
  font-weight: bolder;
  text-align: center;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
  flex-grow: 1;
  padding: 10px 5px;
}

a:hover {
  /* background: whitesmoke; */
  color: black;
  background-color: white;
  /* border-radius: 50px; */
}

a.active {
  background-color: gray;
}

/* GALLERY PAGE */

/* .main-content {
  /* width: 100%; */


.portfolio {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 10px;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.portfolio-item {
  background: gray;
  padding: 30px;
}
.portfolio-item.small {
  grid-row: 1 / 5;
  grid-column: 1 / 3;
}
.portfolio-item.medium {
  grid-row: 1 / 3;
  grid-column: 3 / 7;
}
.portfolio-item.large {
  grid-row: 3 / 5;
  grid-column: 3 / 5;
}
.portfolio-item.tall {
  grid-row: 3 / 7;
  grid-column: 5 / 7;
}
.portfolio-item.wide {
  grid-row: 5 / 7;
  grid-column: 1 / 5;
}

.picture-modal-container {
  z-index: 2;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: visible;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.show-modal {
  display: flex;
}

.prev-button,
.next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: transparent;
  color: white;
  padding: 0px;
  transition: all 0.3s ease;
  border: 0;
}

.exit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: transparent;
  color: white;
  padding: 0px;
  border: 0;
}

.exit-button :hover {
  color: black;
  background-color: white;
}

.exit-button svg {
  padding: 0.3em 0.3em;
}

.next-button svg {
  padding: 0.3em 0.3em;
}

.prev-button svg {
  padding: 0.3em 0.3em;
}

.prev-button :hover {
  background-color: white;
  color: black;
}

.next-button :hover {
  background-color: white;
  color: black;
}

.exit-button {
  position: absolute;
  right: 2%;
  top: 1%;
}

.prev-button {
  position: absolute;
  left: 5%;
}
.next-button {
  position: absolute;
  right: 5%;
}

.modal-picture {
  width: auto;
  height: 60%;
}
